<IfModule mod_rewrite.c>

	RewriteEngine On

	# Extensões .php
	RewriteEngine on 
	RewriteCond %{REQUEST_FILENAME} !-d 
	RewriteCond %{REQUEST_FILENAME}\.php -f 
	RewriteRule ^(.*)$ $1.php

	# Página de administração
	#RewriteRule ^admin/$ index.php?page=admin [NC,L]

	# Página do aluno
	RewriteRule ^admin/aluno/?$ admin/module/Aluno/aluno.php [NC,L]

	# Página dgerenciar aluno
	#RewriteRule ^admin/alunos/?$ index.php/admin?page=gerenciar-alunos [NC,L]

	# Página de contato
	RewriteRule ^contato/?$ public/contato.php [NC,L]

</IfModule>